Source: ros-noetic-cob-common
Section: misc
Priority: optional
Maintainer: Felix Messmer <felixmessmer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: http://ros.org/wiki/cob_common
Standards-Version: 3.9.2

Package: ros-noetic-cob-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-cob-actions, ros-noetic-cob-msgs, ros-noetic-cob-srvs
Description: The cob_common stack hosts common packages that are used within the Care-O-bot repository.
 E.g. utility packages or common message and service definitions etc. Also the urdf desciption of the robot is located in this stack.
